extends layout.pug 

block content 
    a(href="/park/add") Add Park 
    table 
        thead 
            tr
                th(scope="col") Park Name 
                th(scope="col") Location 
                th(scope="col") Opened 
        tbody 
            each park in parks
                tr 
                    td=park.parkName 
                    td=park.city 
                    td=park.opened 
                    td=park.provinceState 
                    td=park.country
                    td: a(href=`/park/${park.id}`) Details